@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

body{
    background-color: #FFF6E9;
    /* width: 100vw; */
    /* height: 100vh; */
    margin: 0;
    overflow-x: hidden;
    margin-bottom: 5%;
        max-width: 1200px;
  width: 100%;
}

.logo{
   margin-left: 52%;
   margin-bottom: 0%;
}
.logo img{
    width: 25%;
}

.bordersection{
    background-color:  #FFFFFF;
    Width: 505px;
    height: 620px;
    border-radius: 20px;
    /* top: 3em; */
    position: absolute;
    box-shadow: 0px 4px 36px rgba(0, 0, 0, 0.05);
    left: 450px;
    top: 7.5em;
    
}
i{
     margin-right: 45em;
     padding: 2.6em;
     border-width: 0 2px 2px 0;
     position: absolute;
      }
      h1{
        text-align: center;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 32px;
        color: black;
        position: absolute;
        margin-left: 8em;
        top: 2em;
      }
      p{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        color: #18053A;
        width: 319px;
        margin-left: 8em;
        top: 6.5em;
        position: absolute;
       
      }

.form{ margin-left: 3em;
    top: 9em;
    position: absolute;

}
label{
 font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 32px;
color: #000000;
}
input{
box-sizing: border-box;
width: 396px;
height: 65px;
left: 542px;
top: 365px;
background: #FAFAFA;
border: 1px  #18053A;
border-radius: 5px;
}
input:focus {
    background: #FFF8EF;
    border: 1px solid #18053A;
}

strong{
   
    position: absolute;
    left: 10em;
    top: 38em;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: black}

    #eye{
        margin-left: 19em;
    top: 16.5em;
    }

    a{ text-decoration: none;
  
    }
    #button{box-sizing: border-box;
        width: 396px;
        height: 50px;
        line-height: 20px;
        background: #5034C8;
        color: #FAFAFA;
        font-weight: 600;
       font-size: 14px;
       font-family: 'Montserrat';
       border-radius: 3px;
       border: 1px ;
       padding: 10px;
       box-shadow: 5px 6px black;
       transition: transform .1s;
    
    }
    #button:hover{
        transform: scale(1.1);
    }