@import url('https://fonts.googleapis.com/css2?family=Halant:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
body{
    background: #574EBB;
   max-width: 1440px;
  width: 100%;
  margin: 0 auto;

}
form {
    height: 500px;
    width: 1050px;
 background: #574EBB;
color: white;
    margin: 1px auto;
    
}

h3 {
    font-family: Halant;
    font-size: 64px;
    font-weight: 600px;
    line-height: 5px;
    text-align: left;
    margin-top: 3%;
    
}

.lab {
    /* height: 624px; */
    width: 716px;
    height: 100%;
    left: 142px;

}

.lab .namy {

    font-family: Halant;
    font-style: bold;
    Font-size: 32px;
    Line-height: 50px;
    font-weight: 600;
    Vertical-align: Top;

}

input[type=text],
[type=password],
[type=tel],
[type=email],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
   
}

input[type=submit] {
    width: 31%;
    margin-left: 390px;
    background-color: #155EEF;
    
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.input ::placeholder{
    Font-style: Regular;
        Line-height: 24px;
        Align: Left;
        Vertical-align: Top;
}
.Menu-bar {
  display: flex;
  justify-content: space-between;
  display: flex;
gap: 132px;
    /* background-color: #f2f2f2; */
}
.input {
border-radius: 4px;
    background: var(--white);
    width: 520px;
    height: 53px;
    outline: none;
    margin-top: 30px;
    border: none;
    box-sizing: border-box;
    background-color: white;

}
::placeholder {
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding-left: 32px;
  color: var(--gray);
  font-family: var(--font);
}
.Menu-bar img {
  object-fit: contain;
  /* width: 30.5px; */
}
.title {
    color: white;
    text-decoration: unset;
    font-size: 35px;
}
a{
    text-decoration:none;
}
