@import url("https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gentium+Plus&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap');

#Health-Hive {
  /* padding-top: 24px; */
  width: 20%;
}
#Health-Hive img{
  /* padding-top: 24px; */
  width: 80%;
}


body{
    max-width: 1440px;
  width: 100%;
  margin: 0 auto;
 background: #efedf9;

}
.menu-list {
  padding-left: 18px;
  padding-right: 18px;
  margin-top: 9%;
}

.menu-list > a {
  color: var(--gray);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  font-family: "Gentium Plus", serif;
}

.menu-list:hover > a {
  color: var(--purple);
}

#logo {
  width: 148.02px;
}

#compare {
  color: var(--black);

font-family: 'Lora', serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 61px;
  margin-top: 250px;
}

#save-money {
  font-weight: 700;
  font-size: 20px;
  line-height: 31px;
  margin-top: -40px;
  font-family: 'Lora', serif;
  color: var(--gray);
}

.sign-up {
  background: #574ebb;

  border-radius: 10px;
  padding: 0px 0px 0px 0px;
  gap: 8px;
}
.up {
  color: white;
}
/* .sign-up > a {
  color: var(--white);
} */

.sign-up:hover > a {
  color: var(--white);
}

button {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: var(--white);
  background-color: var(--purple);
  border: 0;
  border-radius: 20px;
  font-family: var(--font);
  padding: 10px 20px;
  gap: 8px;
}
.partner {
  gap: 80px;
}
.pp {
  height: 100.95px;
  width: 233px;
  object-fit: contain;
}

#partner {
  text-align: center;
  color: var(--black);
  font-weight: 700;
  font-size: 40px;
  line-height: 51px;
  font-family: "Lora", serif;
}
.services-gap {
  gap: 21px;
}
.Services {
  background: rgb(177, 170, 255);
  box-shadow: 1px 1.5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 403px;
  height: 336px;
}

#value {
  font-family: 'Lora', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: var(--gray);
}

.specialist-pic {
  height: 336.7px;
  /* width: 323.5px; */
}
.Services > p {
  color: var(--black);
  font-weight: 700;
  font-size: 24px;
  line-height: 1px;
  text-align: center;
}

.Services > h3 {
  color: var(--gray);
  text-align: center;
}
.what-client {
  width: 565px;
  height: 336px;
  box-shadow: 0px 1.5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

}
#what-client h2{
    font-family: Microsoft Tai Le;
font-size: 17px;
font-weight: 500;
line-height: 18px;
letter-spacing: 0em;
text-align: left;
padding-right: 10%;
}
.testimonial {
  gap: 21px;
  padding-left: 112px;
}

.partner {
  padding-top: 75px;
}

.what {
  gap: 331px;
  padding: 23px 0 0 43px;
}

.testimonial h2 {
  color: var(--black);
  font-family: var(--font);
  font-weight: 800;
  font-size: 15px;
  line-height: 18px;
  padding-left: 63px;
  padding-top: 23px;
}
.have-a-question{
  margin-left: 20%;
  padding-bottom: 5%;
}
#button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 40px;
  gap: 8px;
  /* position: absolute;
  width: 261px;
  height: 66px;
  left: 589px;
  top: 3488px; */
  background: #574ebb;
  border-radius: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  color: #ffffff;
  margin-bottom: 5%;
  margin-left: 35%;
  margin-top: 5%;
}

/* footer */

.footer {
  background: #b1aaff;
  display: flex;
  justify-content: space-evenly;
}
.foot-left {
  /* padding-left: 5%; */
  /* width: 25%; */
}

.foot-images {
  width: 100%;
  padding-left: 20px;
  padding-bottom: 0px;
  padding-top: 11%;
}
.foot-images img {
  width: 80%;
}
/* .foot-section-3 {
  display: flex;
  width: 65%;
  padding-top: 6%;
  justify-content: space-between;
} */
.foot-left p {
  font-family: Inter;
  font-size: 20px;
  font-style: italic;
  font-weight: 600;
  line-height: 1px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 9%;
  color: #83ab23;
  padding-top: 0px;
}

.list-item {
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: none;

  color: black;
}
.list-item ul {
  list-style-type: none;
}
.list-item a {
  color: black;
}

.foot-middle {
  margin-top: 2%;
}
.foot-right {
  margin-top: 2%;
}
.foot-middle h1 {
  font-family: Manrope;
  font-size: 36px;
  font-weight: 600;
  line-height: 49px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}
.foot-middle li {
  font-family: "Manrope", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 53px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: none;
}
.foot-middle ul {
  list-style-type: none;
  text-decoration: none;
}
.foot-middle a {
  text-decoration: none;
  color: white;
}
/*  */
.foot-right h1 {
  font-family: Manrope;
  font-size: 36px;
  font-weight: 600;
  line-height: 49px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}
.foot-right li {
  font-family: "Manrope", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 53px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: none;
  color: black;
}
.foot-right ul {
  list-style-type: none;
  text-decoration: none;
  color: black;
}
.foot-right a {
  text-decoration: none;
  color: white;
}
hr.new1 {
  background: #b1aaff;

  border-top: 5px solid black;
  width: 98%;
  margin-left: 10px;
}
.down-right {
  display: flex;
  justify-content: space-between;
  width: 30%;
}
.down-left {
  display: flex;
  justify-content: flex-end;
  width: 80%;
  gap: 15px;
}
.down-down-down {
  background: #b1aaff;

  display: flex;
  /* padding-bottom: 3%;
  padding-top: 20px; */
  padding: 20px 20px 20px 20px;
}
.down-down-down h6 {
  font-family: Manrope;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}
