:root {
    --black: #232c35;
    --purple:#574EBB;
    --red:#DE2525;
    --green:#2BCA57;
    --grey:#C0BEE1;
    --lightblue:#0FD9FA;
    --white:white;
    --gray:#9F9F9F;
    --bg:#f2f2f2;
    --font:"Manrope", sans-serif;
   
  }
  